
.note{
    display: block;
    float: left;
    // overflow: hidden;
    // position: relative;
    background-color: #fff;
    position: relative;
    z-index: 2;

    
    &__mask{
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 20;
        left: 0px;
        top: 0px;
        
    }
    &__open-mask{
        width: 100%;
        height: 100vh;
        position: fixed;
        left: 0px;
        top: 0px;
        z-index: 2;
        background-color: rgba(0, 0, 0, 0.429);
        transition-duration: 0.5s;
        cursor:auto;

    }
    &.active{
        z-index: 5;        
        .note__mask{
            display: none;
        }
        .note__wrapper{
            position: fixed;
            width: 700px;
            // transform: scale(1.4);
            left: 50%;
            top: 9%;
            transform: translate(-50%, 0%);   
            z-index: 3;
        }
        .note__body{
            max-height: 600px;
            overflow: auto;
        }
        .note__close{
            opacity: 1;
        }
        
    }
    &.checked{
        .note__wrapper{
            border: solid 1px #000;
        }
        .note__btn-check{
            opacity: 1;
        
        }
    }
    &__wrapper{
        width: 100%;
        position: relative;
        // width: 305px;
        transition-duration: 0.5s;
        padding: 10px;
        position: relative;
        border-radius: 10px;
        background-color: #fff;
        border: solid 1px #e0e0e0;
    }
    &__fixed-icon{
        opacity: 0;
    }

    &__btn-check{
        position: absolute;
        left: -9px;
        top: -9px;
        z-index: 22;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #000;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        padding: 3px;
        opacity: 0;
        transition-duration: 0.3s;
        svg{
            width: 100%;
            height: 100%;
            fill: #fff
        }

        &.active{
            opacity: 0;
            overflow: hidden;
            display: none;
        }
    }

    &__header{
        margin-bottom: 20px;
        position: relative;
        .fixed-icon {
            top: 0px;
            right: 0px;
        }
        input{
            padding-right: 40px;
            width: 100%;
            padding-right: 37px;
            font-size: 20px;
        }
    }
    textarea,input{
        background-color: transparent;
        width: 100%;
    }
    &__textarea{
        font-size: 16px;
        line-height: 1.3;
    }
    &__body{
        margin-bottom: 5px;
        max-height: 300px;
        padding: 1px 0px;
        overflow: hidden;
        // border-bottom: 1px solid rgba(0, 0, 0, 0.241);
        padding-bottom: 10px;
    }

    &__footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        opacity: 0;
        transition-duration: 0.3s;
        >div{
            display: flex;
            flex: 1 1 auto;
            button{
                width: 35px;
                height: 35px;
                border-radius: 50%;
                padding: 9px;
                transition-duration: 0.3s;
                margin-right: 5px; 
                
                svg{
                    width: 100%;
                    height: 100%;
                    fill: rgba(49, 46, 46, 0.761);
                }
            }
        }
        >div:last-child{
            justify-content: end;   
        }
        >div:first-child{

            bottom{
                width: 35px;
                height: 35px;
                border-radius: 50%;
                padding: 9px;
                transition-duration: 0.3s;
                margin-right: 5px;
                    
                svg{
                    width: 100%;
                    fill: rgba(49, 46, 46, 0.761);
                    height: 100%;
                }
            };
        }
        button{
            &:hover{
                background-color: rgba(0, 0, 0, 0.138);
            }
        }
    }

    &__close{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
        background-color: transparent;
        padding-bottom: 4px;
        transition-duration: 0.3s;
        border-radius: 4px;
        height: 30px;
        flex: 0 0 100px;
        opacity: 0;
       
    }

    

    &:hover{
        .note__wrapper{
            transition-duration: 0.3s;
            box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.389);
        
        }
        .note__btn-check{
            opacity: 1;
        }
        .note__fixed-icon{
            opacity: 1;
        }
        .note__footer{
            opacity: 1;
        }
    }
}


@media (max-width: 600px) {
    .note{
        &__header{
            margin-bottom: 10px;
        }
        &__title{
            font-size: 18px;
        }
        &__body{
            padding-bottom: 10px;
        }
        &__textarea{
            font-size: 14px;
        }
    }
}