
.edit-label{
    width: 225px;
    background-color: #fff;
    position: absolute;
    top: 0px;
    right: 100px;
    z-index: 1000;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.594);
    overflow: hidden;

    &__wrapper{
        width: 100%;
    }
    &__header{
        padding: 0px 12px;
        padding-bottom: 10px;
        p{
            font-size: 14px;
            cursor: default;
            padding: 12px 0px;
            font-weight: 600;
        }
    }
    &__search{
        width: 100%;
        display: flex;
        align-items: center;
        input{
            flex: 1 1 auto;
            font-size: 12px;
            font-weight: 600;

        }

        svg{
            width: 14px;
            height: 14px;
        }
    }

    &__item{
        display: flex;
        align-items: center;
        padding: 5px 0px;
        padding-left: 12px;
        width: 100%;
        border-radius: 0px !important;
        &:hover{
            background-color: rgba(0, 0, 0, 0.163);
        }
        span{
            width: 15px;
            height: 15px;
            // padding: 2px;
            border: solid 1px #000;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 5px;
            border-radius: 2px;
        }
        svg{
            width: 10px;
            height: 10px;
            opacity: 0;
        }

        p{
            align-items: center;
        }
        &.active{
            svg{
                opacity: 1;
            }
        }
    }

    
}
.label-create{
    width: 100%;
    height: 100%;
    padding: 12px;
    display: flex;
    align-items: flex-start;
    
    p{
        flex: 1 1 auto;
        text-align: left;
        margin-left: 5px;
        font-size: 12px;
        font-weight: 600;
    }
    svg{
        flex: 0 0 11px;
    }
    &:hover{
        background-color: rgba(0, 0, 0, 0.163);
    }
}