.board{
    width: 100%;
    height: 70px;
    padding: 0px 20px;
    position: fixed;
    background-color: #fff;
    z-index: 151;
    top: -100%;
    left: 0px;
    transition-duration: 0.5s;

    &.active{
        top: 0px;
    }

    &__wrapper{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        >div{
            display: flex;
            align-items: center;
        }
    }
    &__close{
        width: 50px;
        height: 50px;
        padding: 15px;
        margin-right: 10px;
        transition-duration: 0.3s;
        border-radius: 50%;
        svg{
            width: 100%;
            height: 100%;
        }
        
        &:hover{
            background-color: rgba(0, 0, 0, 0.138);
        }
    }
    &__title{
        font-size: 22px;

    }


    &__btns{
        display: flex;
        button{
            width: 44px;
            height: 44px;
            padding: 10px;
            transition-duration: 0.3s;
            border-radius: 50%;
            margin-right: 20px;
            &:last-child{
                margin-right: 0;
            }
            svg{
                width: 100%;
                height: 100%;
                fill:rgba(27, 97, 196, 0.986);
            }

            &:hover{
                background-color: rgba(0, 0, 0, 0.138);

            }
        }
    }

    .modal-color{
        right: 20px;
    }

    .trash-actions{
        .arrow,.x {
            width: 10px;
            height: 10px;
            left: 17px;
            top: 20px;
        }
    }
}

@media (max-width: 600px) {
    .board{
        height: 50px;
        padding: 0 10px;


        &__close{
            width: 30px;
            height: 30px;
            padding: 5px
        }
        &__title{
            font-size: 15px;
        }

        &__btns{
            button{
                width: 25px;
                height: 25px;
                padding: 5px;
                margin-right: 10px;
                &:last-child{
                    padding: 1px !important;
                }
                &:hover{
                    background-color: transparent;
                }
            }
        }
    }
}