

.header{
    &__wrapper{
        padding: 10px 20px;
        display: flex;
    }

    &__left{
        display: flex;
        flex: 0 1 1000px;
        > div{
            display: flex;
        }
    }
    .search{
        margin-left: 20px;
    }
    &__right{
        display: flex;
        align-items: center;
        margin-left: 20px;
    }
}