

.search-block {
    padding-top: 50px;
    flex: 1 1 auto;
    position: relative;
    > h2{
        font-size: 30px;
        font-weight: 700;
        text-align: center;
    }
    &__main{
        margin-left: 20px;
    }
    .note {
        margin: 10px;
    }
}