

.sidebar{
    height: 100%;
    flex: 0 0 277px;
    position: relative;
    padding-top: 23px;
    transition-duration: 0.3s;
    &__wrapper{
        width: 100%;
        top: 23px;
        position: sticky;
        overflow: hidden;
    }
    &__nav{
        width: 100%;
        height: 100%;
        transition-duration: 0.3s;
    }
    &__link{
        display: flex;
        color: #202124;
        align-items: center;
        border-radius: 0 25px 25px 0;
        overflow: hidden;
        padding: 20px 20px;
        font-size: 20px;
        border: 1px solid transparent;
        transition-duration: 0.2s;
        
        svg{
            flex: 0 0 25px;
            margin-right: 5px;
            fill: #202124;

        }
        span{
            white-space: nowrap; 
            overflow: hidden;
        }

        &:hover{
            background-color: rgba(9, 9, 9, 0.208);
        }
        
    }

    &.open{
        flex: 0 0 66px;
        // padding: 0px 4px;
        .sidebar__nav{
            width: 29%;
        }
        .sidebar__link{
            margin: 0px 5px;
            border-radius: 50%;
            
        }
    }
}
.active-link{
    background-color: #feefc3;
    &:hover{
        background-color: #feefc3;
    }
}